[submodule "hw0-intro-sp22-CeHao1"]
	path = hw0-intro-sp22-CeHao1
	url = https://github.com/cal-cs184-student/hw0-intro-sp22-CeHao1.git
[submodule "p1-rasterizer-sp22-cehao"]
	path = p1-rasterizer-sp22-cehao
	url = https://github.com/cal-cs184-student/p1-rasterizer-sp22-cehao.git
[submodule "sp22-project-webpages-CeHao1"]
	path = sp22-project-webpages-CeHao1
	url = https://github.com/cal-cs184-student/sp22-project-webpages-CeHao1
[submodule "p2-meshedit-sp22-cehao1"]
	path = p2-meshedit-sp22-cehao1
	url = https://github.com/cal-cs184-student/p2-meshedit-sp22-cehao1.git
[submodule "p3-1-pathtracer-sp22-cehao3"]
	path = p3-1-pathtracer-sp22-cehao3
	url = https://github.com/cal-cs184-student/p3-1-pathtracer-sp22-cehao3.git
